<!DOCTYPE html>
<html lang="es">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">

	<title>Index</title>

	<style type="text/css">
		body{background-color: #BDBDBD;
			 font-family: Arial;
			 
            }

		 h1{
		 	width: 50%;
		 	height: 30%;
		 	background-color: #585858;
		 	text-align: center;
		 	color: white;
		 	font-size: 5em;
		 	text-transform: uppercase;
		 	position: absolute;
		 	left: 50%;
		 	top: 50%;
		 	transform: translateX(-50%) translateY(-50%);
		 	}

		 h1:hover{
			background-color: #369681;
			color: white;
		}	

		 }   
	</style>

</head>

<body>
	
	<div id="main-container">
		<h1>Operacion exitosa</h1>

	</div>

</body>
</html>
